/* main blog */
.titulosBlog{
    @include titulos (left, 2rem, $font-terciaria);
    text-decoration: underline;
}
.listaCocktail{
    display: flex;
    flex-direction: column;
    text-align: left;
}