/* main del index */
@import './base/variables';
.presentacion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .titulo{
    @include titulos (center,7rem,$font-secundaria) 
    text-decoration: underline;        
    }  
  .imgIndex{
    @extend %fotos;
    &:hover{
      transform: scale(1.1);
    }
  }
  .frase {
    font-size: 2.4rem;
    text-align: center;    
  }
}
.textoServicios{
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}
.serviciosIndex{         
    display: grid;  
    grid-template-columns: repeat(3, minmax(250px, auto));
    grid-auto-rows: minmax(200px, auto);
    justify-content: center;
    align-items: center;
    padding: 10px;
  .serviciosIndex__card {
    position: relative;   
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    .serviciosImg {
      display: block;  
      border-radius: 8px;
      margin: 5px;
    }  
    .overlay {
    position: absolute;   
    height: 95%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: map-get($colores, "color-bgcard");
    border-radius: 6px;   
    }  
    &:hover .overlay {
    opacity: 1;
    }  
    .textoServiciosIndex {
      color: map-get($colores, "color-text2");    
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 2rem;
      text-align: center;
      padding: 15px;
    }
    .btn{
      background-color: map-get($colores, "color-text2");
      color: map-get($colores, "color-bgcard");
      font-size: 1.5rem;      
    }  
  }
}