/* media queries */
@media screen and (max-width:768px) {
    html{
        font-size: 14px;
    }
    .serviciosPagina__card{
        flex-direction: column;
        .serviciosImagenes{
        width: 400px;
        }
    }
    .invertidoServicios{
        align-self: center;
    }
}
@media screen and (max-width:450px) {
    html{
        font-size: 12px;
    }
    .serviciosPagina__card .serviciosImagenes{
        width:250px;
    } 
}