/* main quienes-somos */
@import './base/variables';
.layoutNosotros{    
    gap: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
        'titulo titulo'
        'imagen texto1'
        'texto2 texto2'
        'mision vision'
    ;
    .nosotrosBox1{
    grid-area: titulo;
    }
    .nosotrosBox2{
    grid-area: imagen;    
    }
    .nosotrosBox3{
    grid-area: texto1;
    }
    .nosotrosBox4{
    grid-area: texto2;
    }
    .nosotrosBox5{
    grid-area: mision;
    }
    .nosotrosBox6{
    grid-area: vision;
    }
}
.imgNosotros{
    @extend %fotos;
    &:hover{
        filter: sepia(80%);
        transform: scale(1.1);
    }
}