.serviciosPagina{
    padding: 15px;
    display: flex;
    justify-content: center;
    flex:{
        direction: column;
        wrap: wrap;
    }
    &__card{        
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        .serviciosImagenes{
        width: 40%;    
        border-radius: 8px;
        }
        .textoServicios{
            font-size: 1.5rem;
            text-align: center;
            padding: 15px;
        }
    }
}
.invertidoServicios{
    align-self:flex-end;
    flex-direction: row-reverse;
}
.tituloServicios{
    @include titulos (center, 4rem, $font-principal)
}