$colores: (
    "color-bgnav":#874421,
    "color-bgmain":#cd966c,
    "color-bgfooter": black,
    "color-bgcard":#242626,
    "color-text2":rgb(131, 129, 129)
);
$font-principal: 'Allura', cursive;
$font-secundaria: 'Tangerine', cursive;
$font-terciaria: 'Marck Script', cursive;

@mixin titulos ($alineacion,$textsize,$tipoletra){
    text-align: $alineacion;
    font-size: $textsize;
    font-family: $tipoletra;
    font-weight: 900;
    padding: 10px;
}

%fotos{
    border-radius: 8px;
    margin-bottom: 20px;
    transition: 1s ease all;    
}